@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #010409;
  color: white;
}

.nav-con{
  height: 180px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161b22;
  flex-wrap: wrap;
  color: white;
  flex-direction: column;
  position: fixed;
  width: 100%;
}
nav ul{
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}
nav ul li{
  padding: 0 20px;
}

ul .link{
  text-decoration: none;
  color: white;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 890px){
  nav ul li{
    padding: 0 10px;
  }
  .container ul{
    padding: 10px;
  }
  .container > p{
    margin: 20px !important;
  }
}

.container ul{
  margin: 10px;
}

ul li{
  background-color: #161b22;
  color: white;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

ul li h2{
  height: 50px;
}

ul li p{
  height: 100px;
}

.btn-con{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#btn{
  outline: none;
  border: none;
  color: white;
  background-color: #238636;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  margin: 8px;
}

.container > p{
  margin:10px 200px;
  background-color: #161b22;
  padding: 10px;
}

@media screen and (max-width:500){
  .container > p{
    margin: 10px 10px !important;
  }
}